<h1>Add new bookmark</h1>
<br>
<form action="/bookmarks/add" method="post">
  <input type="text" id="title" name="title" placeholder='title'>
  <input type="text" id="url" name="url" placeholder='url'>
  <input type="submit" value="Submit">
</form>
