
<ul>
  <% @bookmarks.each do |bookmark| %>
      <li>
        <a href="<%= bookmark.url %>" target="_blank">
          <%=bookmark.title %>
        </a>
      </li>
  <% end %>
</ul>

<br>

<form action="/bookmarks/add" method="post">
  <input type="text" id="title" name="title" placeholder='title'>
  <input type="text" id="url" name="url" placeholder='url'>
  <input type="submit" value="Submit">
</form>
