
<ul>
  <% @bookmarks.each do |bookmark| %>
      <li>
        <a href="<%= bookmark.url %>" target="_blank">
          <%=bookmark.title %>
        </a>
      </li>
  <% end %>
</ul>

<br>
<form action='/bookmarks/add'>
  <input type='submit' value='Add'>
</form>


<!-- move into view, add, delete pages -->
